main{
	padding-top :50px;
}
main .row
{
	margin-bottom: 40px;
}
.top-nav-bar{
    padding-top:20px;
    padding-left: 290px;
    position: relative;
	background-color: #eac10b;
	height:100px;
	font : bold 10px arial, sans-serif;
}
.top-nav-bar h1
{
	margin: 0px;
	font : bold 35px arial, sans-serif;
}
.top-nav-bar h6
{
	margin-top:10px;
	font : normal 15px arial, sans-serif;
}
.card{
  height: 300px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 0px;
  border:0px;

}
.caption1, .caption2{
	margin-top: 0px;
	border-top:0px;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 5px;
	border-left : 1px #dbdcdd solid  ;
	border-right : 1px #dbdcdd solid  ;

	
}
.caption1{
	font :bold 15px arial,sans-serif;
}
.caption2{
		border-bottom : 1px #dbdcdd solid;
		padding-top: 5px;
		padding-bottom: 30px;
}